/* Mortgage calculator styles
 * Written by George D. Sotirov, gdsotirov@dir.bg
 *
 * Media: screen, print
 * $Id: icalc.css,v 1.3 2005/08/10 11:08:15 gsotirov Exp $
 */

@media screen, print {
  a {
    text-decoration: underline;
  }
  
  a.link {
    color: #0000FF;
  }

  body {
    font: normal normal normal medium Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
  }

  button {
    background-color: #999999;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
  }

  div.row {
    clear: both;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: Ariel, Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-align: center;
  }

  input, select {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
    clear: right;
    float: left;
    margin: 0.2em;
  }

  input {
    text-align: right;
  }
  
  img {
    border: 0 none;
  }

  label {
    clear: left;
    float: left;
    margin: 0.2em;
    text-align: right;
    width: 50%;
  }
  
  table {
    border-style: none;
    empty-cells: show;
    margin-left: auto;
    margin-right: auto;
  }

  table.tbThinBorder {
    border-top: 1px solid #000000;
    border-right-style: none;
    border-bottom-style: none;
    border-left: 1px solid #000000;
  }

  table.tbThinBorder th, table.tbThinBorder td {
    border-top-style: none;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left-style: none;
  }

  table#OutputTable td {
    text-align: right;
  }

  table#OutputTable th {
    background-color: #CCCCCC;
  }

  /* Pseudo classes */
  .align-center {
    text-align: center;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }
  
  .align-justify, .text {
    text-align: justify;
  }

  .bold-text {
    font-weight: bold;
  }

  .copyright {
    color: #CCCCCC;
    font: normal normal normal small Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
  }

  .red-bold-text-on-light-gray {
    background-color: #DDDDDD;
    color: #FF0000;
    font-weight: bold;
  }
  
  .text {
    text-indent: 2em;
  }
}

@media screen {
}

@media print {
  input, select {
    border: 0 none;
  }
}
